@import "./module.less";

.layer {
  width: 600px;
  height: 400px;

  > div {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    // background: url("../assets/icon.png");
  }
}
